---
layout: page-front
header: true
full_width: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" />
</head>

<body>
  <!-- _includes > main > top > custom.html -->

  <!-- INFO -->

  <!-- <section class="info">
    <div class="info-row">
      <div class="info-col info-col1">
        <h3>방사선원 시각화 토탈 솔루션</h3>
        <p>
          실시간 방사선 핵종분석 및 위치추적<br />
          360도 실시간 이미징 및 HPGe급 에너지분해능<br />
          레이저를 이용한 거리측정 및 방사선의 정량적 해석<br />
          방수/방진 및 콤팩트한 디자인
        </p>
      </div>
    </div>
  </section> -->

  <!-- products -->

  <section class="products">
    <h1>CGITEC Products</h1>
    <p>사용자 편의에 최적화된 CGITEC만의 방사선원 시각화 토탈솔루션</p>

    {% include custom/products.html %}
  </section>

  <!-- use -->

  <section class="use">
    <h1>Radiation Detection Applications</h1>
    <p>광범위한 사용을 통한 성능을 입증한 CGITEC 방사선 이미징 기술의 활용</p>
    {% include custom/use.html %}
  </section>

  <!-- testimonials -->

  <!-- Call To Action -->

  <section class="cta">
    <h1>
      Contact Us<br />
      질문을 남겨주세요
    </h1>
    <a href="contact.html" class="hero-btn">CONTACT US</a>
  </section>

  <!-- JavaScript for Toggle Menu -->
  <script>
    var navLinks = document.getElementById("navLinks");
    function showMenu() {
      navLinks.style.right = "0";
    }
    function hideMenu() {
      navLinks.style.right = "-200px";
    }
  </script>
</body>

</html>